In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
path = r'C:\Users\Niklas Winter\Instacart Basket Analysis'

In [10]:
# Upload data set order_products_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

# Upload data set orders
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [8]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 7)

## Merge df_ords_prior & df_ords

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large ['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
# Export df_merged_large
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))