In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Niklas Winter\Instacart Basket Analysis'

In [3]:
# Upload data set order_products_prior
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Upload data set products
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
# Check Shape of data sets
df_orders_products_combined.shape

(32434489, 11)

In [6]:
df_prods.shape

(49672, 6)

# Check and clean structures of both dataframes

### Observation: Columns Unnamed:0 and _merge can be removed

In [7]:
# Check structure of both dataframes
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,11.11484,196,1,0,both
1,0,2539329,1,1,2,8,11.11484,14084,2,0,both
2,0,2539329,1,1,2,8,11.11484,12427,3,0,both
3,0,2539329,1,1,2,8,11.11484,26088,4,0,both
4,0,2539329,1,1,2,8,11.11484,26405,5,0,both

# Remove column unnamed:0 in dataframe df_orders_products_combined
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [8]:
# Check Outcome
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,11.11484,196,1,0,both
1,0,2539329,1,1,2,8,11.11484,14084,2,0,both
2,0,2539329,1,1,2,8,11.11484,12427,3,0,both
3,0,2539329,1,1,2,8,11.11484,26088,4,0,both
4,0,2539329,1,1,2,8,11.11484,26405,5,0,both

In [9]:
# Check structure of dataframe df_prods
df_prods.tail()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

### Observation: - Column "Unnamed:0" can be removed at this data set; Column "product_id" can be found in both dataframes

In [10]:
# Check Output for df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## Merge both dataframes using 'product_id'

In [11]:
df_merged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [ ]:
# Check outcome of merging (based on the outcome of the dataframes, there should no column "Unnamed:0" anymore.)
df_merged.tail()

In [ ]:
# Check value counts for '_merge' column
df_merged['_merge'].value_counts()

In [ ]:
# Check df_merged size
df_merged.shape

In [ ]:
# Export df_merged as orders_products_merged
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged.pkl'))